@import url('./home.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

section#about {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.8;
}

.about {
    text-align: center;
    align-self: center;
}

#title-abt {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 10px;
    margin-top: 2rem;
}
.about h2 {
    text-align: left;
}

.stack-list {
    margin: 5px;
}
.stack-list img {
    width: 50px;
    height: 50px;
    margin: 5px;
}

.slist {
    text-align: left;
}

@media (max-width: 740px) {
    .about p {
        text-align: left;
    }
}

@media (max-width: 600px) {
    .stack-list img {
        width: 30px;
        height: 30px;
        margin: 5px;
    }
}
