@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Display:wght@500&family=Yanone+Kaffeesatz:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
html, body {
    margin: auto;
    max-width: 1500px;
    background-color: rgb(255, 255, 255);
    font-family: 'Roboto Mono', monospace;

}
.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 20px 0px 20px;
    flex-wrap: wrap;
}

.nav-img  {
    display: flex;
}
.social {
    font-size: 1.2rem;
    font-weight: bold;
}
.nav-img  h3{
    font-size: 1.2rem;
    padding: 25px 10px;
}
.nav-img  h3 span{
color: rgb(0, 119, 255);
}
.nav-img  h3 span:last-child{
    color: gray;
    }

.nav-img img {
    width: 50px;
    height: 55px;
}

.nav-links {
    padding: 25px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    margin-left: 30px;
}
.nav-links a:hover {
    color: rgb(0, 119, 255);
}

.nav-links .active{
    text-decoration: none;
    color:white;
    margin-left: 30px;
    background-color: rgb(0, 119, 255);
    padding: 10px 25px;
}
.nav-links .active:hover{
    color:rgb(0, 0, 0);
}


@media only screen and (max-width: 935px) {
    .nav-img  h3{
        padding: 20px 10px;
        font-size: 1.2rem;
    }
    .nav-img img {
        width: 50px;
        height: 55px;
    }

    .nav-links a {
        text-decoration: none;
        color: rgb(0, 0, 0);
        margin-left: 10px;
        font-size: 15px;
    }
    
    .nav-links .active{
        text-decoration: none;
        color:rgb(255, 255, 255);
        margin-left: 10px;
        padding: 10px 15px;
    }
    
}
@media (max-width: 740px) {
    .nav-links {
        position: fixed;
        bottom: 0%;
        left: 0%;
        right: 0%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: rgb(255, 255, 255);

        height: 10px;
        font-family: 'Yanone Kaffeesatz', sans-serif;
    }
    .nav-links > a {
        text-align: center;
        color: rgb(0, 0, 0);
        font-size: 20px;
        flex: 1;
    }

    .main-img > img {
        width: 10px;
    }
    footer {
        display: none;
    }
    
}

@media only screen and (max-width: 400px) {
    .nav-img  h3{
        padding: 10px 5px;
        font-size: 15px;
    }
    .nav-img img {
        width: 30px;
        height: 35px;
    }
    .nav-links a {
        text-decoration: none;
        color: rgb(0, 0, 0);
        margin: 5px;
        font-family: 'Yanone Kaffeesatz', sans-serif;
    }
    
    .nav-links .active{
        text-decoration: none;
        color:rgb(255, 255, 255);
        margin-left: 10px;
        background-color: rgb(0, 119, 255);
    }


    
}
main {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-bottom: 100px;
}

.main-img  img {
    margin: 50px;
    width: 300px;
    height: 300px;
    order: 1;
    border-radius: 50%;
}
.main-text {
    max-width: 600px;
    order: 2;
}
#hand{
   width: 40px;
   height: 40px;
   margin: 0px;
   padding: 0px;
}
#email {
    margin:0px; 
}

.main-text p:last-child {
    margin-top: 1rem;
}
.main-text * {
    margin: 1rem 0.3rem;
}

footer {
    text-align: center;
    padding: 20px;
}

footer a{
    text-decoration: none;
    font-weight: bold;
}
footer > span > img {
    width: 1rem;
    height: 1rem;
}

@media only screen and (max-width: 450px) {
    .main-img > img {
        width: 185px;
        height: 185px;
        margin: 20px;
    }

    
}
